.menu-wrapper {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.menus {
    display: flex;
    width: 500px;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.menu {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}